extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='/auth/login') Se connecter
  br
  a(href='/auth/signup') S'inscrire
  br
  a(href='/videos') Voir les vidéos
  br
  
  p Ci dessous la liste
  ul
    each user in users
      li= user.email