doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.plyr.io/3.6.8/plyr.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      block content
    script(src='https://cdn.plyr.io/3.6.8/plyr.polyfilled.js')
    script(src='/javascripts/video.js')
